.header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 700;
	&__info {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 4rem;
		background: $blue-cl;
		ul {
			height: 100%;
			@include flex(row, center, center);
			font-size: 1rem;
			padding: 1.5rem 0;

			li {
				position: relative;
				margin: 0 2.1rem;
				font-weight: normal;
				text-transform: uppercase;
				color: $white-cl;
				@include tracking(50);
				@include leading(10, 24);

				&::after {
					content: '|';
					position: absolute;
					top: 0;
					right: -2.2rem;

					color: #61bbe1;
				}
			}
		}
	}

	.nav {
		position: absolute;
		top: 4rem;
		left: 0;
		right: 0;

		height: 8rem;
		padding: 2rem 0;

		background: $white-cl;
		@include transition(all 0.2s);
		.container {
			@include flex(row, space-between, center);
		}
		.btn {
			@include br(5px);
			a {
				padding: 1.4rem 4.2rem;
			}
		}
		&.--scroll {
			position: fixed;
			top: 0;
			left: 0;
			box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.3);
		}
	}

	&__list {
		margin-left: 6.4rem;
		margin-right: 2.3rem;
		@include flex(row, space-between, center);

		a {
			font-weight: bold;
			font-size: 1.3rem;
			color: $black-cl;
			transition: color 250ms;
			text-transform: uppercase;
			padding: 0 1.5rem;
			@include leading(13, 24);
			&:hover {
				color: $blue-cl;
			}
		}

		li.has-sub-menu {
			position: relative;

			.sub-menu {
				position: absolute;
				top: 2.5rem;
				left: 0;
				background-color: #fff;
				box-shadow: 0 2px 12px rgba($color: #000000, $alpha: 0.3);
				@include br(4px);
				@include hidden;
				@include transition(opacity 1s);
				a {
					padding-top: 1rem;
					padding-bottom: 1rem;
				}
			}

			&:hover .sub-menu {
				@include visible;
				@include transition(opacity 1s);
			}
		}
	}

	&__mobile {
		position: fixed;
		top: 0;
		left: 0;
		padding: 3rem 1rem;
		width: 25rem;
		height: 100%;
		background: $blue-cl;
		z-index: 900;
		@include transition(transform $t2);
		@include transform(translateX(-100%));

		.logo {
			a {
				font-size: 3rem;
				text-align: center;
			}
			span {
				color: $white-cl;
			}
		}

		ul {
			width: 100%;
		}

		li.has-sub-menu {
			position: relative;

			& > a {
				position: relative;

				&::after {
					content: '\f107';
					font-family: FontAweSome;
					position: absolute;
					top: 50%;
					right: 10px;
					@include transform(translateY(-50%));
				}
			}

			.sub-menu {
				display: none;
				padding-left: 2rem;

				&.--open {
					display: block;
				}
			}
		}

		a {
			margin-bottom: 2rem;
			@include text(1.5rem, $white-cl, inherit, bold, uppercase);
			@include transition(color 250ms);
			@include leading(13, 24);
		}

		&.show {
			@include transform(translateX(0));
			@include transition(transform $t2);
		}
	}

	&__burger {
		position: relative;
		width: 3rem;
		height: 2rem;

		display: none;
		z-index: 800;
		cursor: pointer;
		span,
		&::before,
		&::after {
			position: absolute;

			width: 100%;
			height: 0.2rem;
			background: $blue-cl;

			@include transition(
				background-color $t2 $cubic2,
				transform $t2 $cubic2,
				opacity $t2 $cubic2
			);
		}

		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before,
		&::after {
			content: '';
			left: 0;
		}

		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		&.--close {
			// span,
			// &::before,
			// &::after {
			// 	background: $white-cl;
			// }

			span {
				opacity: 0;
			}

			&::before {
				transform: translateY(9px) rotate(-40deg);
			}
			&::after {
				transform: translateY(-9px) rotate(40deg);
			}
		}
	}

	//user
	.user-box {
		.acc-info {
			&-btn {
				display: inline-block;
				white-space: nowrap;
				@include text(1.3rem, $black-cl, inherit, bold, uppercase);
				@include transition(color 0.2s);
			}

			&-btn .icon {
				margin-right: 5px;
				color: $black-cl;
				@include transition(color 0.2s);
			}

			&:hover .acc-info-btn,
			&:hover .acc-info-btn .icon {
				color: $blue-cl;
			}

			&:hover .status-desktop {
				display: block;
			}
		}

		.status-desktop {
			display: none;
			position: absolute;
			top: 5rem;
			right: 5rem;
			z-index: 99;
			width: 300px;

			@include text(1.3rem, $black-cl, inherit, 500);

			.status-wrap {
				position: relative;
				left: 0;
				top: 30px;
				width: 30rem;
				line-height: 3rem;
				background-color: white;
			}

			.status__header {
				position: relative;

				height: 48px;
				@include flex(row, center, center);

				&::before {
					content: '';
					bottom: 0;
					left: 0;
					background-repeat: no-repeat;
					background-image: url(../imgs/status-header-bg.png);
					background-position: center;
					background-size: cover;
					position: absolute;
					width: 100%;
					height: calc(100% + 23px);
				}

				h4 {
					color: $white-cl;
					font-size: 24px;
					z-index: 1;
				}
			}

			.status__body {
				& > *:not(.links) {
					padding: 10px 20px;
				}

				& > div:nth-child(odd) {
					background-color: #f8f8f8;
				}

				& .level__info {
					@include flex(row, space-between, center);

					.rank {
						font-weight: bold;
					}
				}

				.level__process {
					background: #ebebeb;
					border-radius: 12px;
					height: 20px;
					width: 100%;
					padding: 2px;
					margin: 5px 0;
					overflow: hidden;

					span {
						display: block;
						height: 100%;
						max-width: 100%;
						border-radius: 9px;
						background-color: $blue-cl;
						background-image: -webkit-repeating-linear-gradient(
							135deg,
							transparent 0px,
							transparent 7px,
							rgba(0, 0, 0, 0.1) 7px,
							rgba(0, 0, 0, 0.1) 9px
						);
						background-image: repeating-linear-gradient(
							-45deg,
							transparent 0px,
							transparent 7px,
							rgba(0, 0, 0, 0.1) 7px,
							rgba(0, 0, 0, 0.1) 9px
						);
						background-size: 50px 50px;
						background-position: 0 0;
						overflow: hidden;
						-webkit-animation: move 4s linear infinite;
						animation: move 4s linear infinite;
					}
				}

				.balance {
					@include flex(row, space-between, flex-start);
					&__number {
						margin-left: 10px;
						font-weight: bold;
						& .vnd {
							color: $blue-cl;
						}
					}
				}

				.links > a {
					padding: 10px 20px;
					display: block;
					text-align: start;
					color: $black-cl;
				}

				.links > a i {
					float: right;
					line-height: 2;
					color: $blue-cl;
				}

				.links > a:hover {
					color: $blue-cl;
				}
			}

			.status__footer .ft-btn {
				font-size: 13px;
				display: block;
				width: 100%;
				padding: 10px 0;
				border-radius: unset;
				background-color: $blue-cl;
				color: white;
				text-align: center;
			}
		}

		.status-mobile {
			display: none;
			position: fixed;
			top: 0;
			height: 100vh;
			left: -250px;
			padding: 20px 10px 10px 10px;
			overflow-y: auto;
			max-width: 250px;
			width: 100%;
			-webkit-box-shadow: -2px 0px 2px #00000045;
			box-shadow: -2px 0px 2px #00000045;
			z-index: 9999;
			background-color: #fff;
			color: #000;
			-webkit-transition: 0.3s;
			transition: $t2;
			font-size: 13px;
			font-weight: 500;

			&.open {
				left: 0;
			}

			.username {
				color: $blue-cl;
				margin-bottom: 10px;
				text-transform: uppercase;
				text-align: center;
			}

			.user-menu-logo {
				margin-bottom: 15px;
				display: block;
				text-align: center;

				img {
					max-height: 50px;
					margin: auto;
				}
			}

			.user-info {
				margin-bottom: 15px;
				text-align: center;

				.money {
					color: $blue-cl;
				}

				.vip {
					text-transform: uppercase;
					color: $blue-cl;
					font-weight: bold;
				}
			}

			.nav-percent {
				width: 100%;
				min-height: 8px;
				border-radius: 8px;
				background-color: #e1e1e1;
				position: relative;
				margin-bottom: 15px;

				&-ok {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					background-color: $blue-cl;
					border-radius: 8px;
				}
			}

			.menu-in-profile {
				list-style-type: none;
				margin-bottom: 15px;
				& > li:not(:last-child) {
					border-bottom: 1px solid #595959;
				}

				& > li > a {
					padding: 15px 0;
					display: block;
					text-align: left;
					text-transform: uppercase;
					color: $black-cl;
				}

				& > li > a > i {
					margin-right: 10px;
					color: $blue-cl;
					font-size: 18px;
					width: 20px;
				}
			}

			.main-btn {
				display: block;
				margin: auto;
				padding: 1.5rem;

				width: 100%;

				color: $white-cl;
				text-align: center;
				font-size: inherit;
			}

			@media screen and (max-width: 991px) {
				& {
					display: block;
				}
			}
		}
	}

	.overlay-status-mobile {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.4);
		-webkit-transition: 0.4s;
		transition: 0.4s;
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
		display: none;
		z-index: 800;
		&.open {
			display: block;
		}
	}

	@include tablet {
		&__info {
			ul {
				padding: 1rem 0;
				li {
					margin: 0 1.2rem;
					&::after {
						right: -1.4rem;
					}
				}
			}
		}

		.nav {
			top: 0;
		}

		&__burger {
			display: block;
			margin-left: auto;
		}

		&__list {
			display: none;
		}

		&__mobile {
			ul {
				li:last-child {
					display: block;
				}
			}
		}

		.user-box .acc-info:hover .status-desktop,
		.user-box .acc-info:focus .status-desktop {
			display: none;
		}

		.user-box {
			.acc-info {
				&__btn {
					display: none;
				}

				.status-mobile {
					display: block;
				}
			}
		}
	}

	@include mobile {
		&__info {
			display: none;
		}
		.nav {
			max-height: 6rem;
			padding: 1rem 0;
			.btn {
				display: none;
			}
		}
	}
}

.overlay {
	background: rgba($color: #000000, $alpha: 0.4);
}
